<h1>Data Structures and Algo Prep</h1>
<div class="outer-video-container">
<div class="inner-video-container">
  <h2>Why Data Structures?</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/PbCQVfy0KD8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>
  <h3><a href="http://derick-portfolio.herokuapp.com/" target="_blank">Link to Derick</a></h3>
</div>
<div class="inner-video-container">
  <h2>Data Structures Intro</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/1pP4aajommg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>
</div>

</div>
